/* NOVO: Garante que html e body ocupem toda a altura para que vh funcione */
html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 56px;
    overflow-x: hidden;
}

/* Navbar */
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.nav-link {
    font-weight: 700;
}

footer {
    max-height: 80px;
}

/* Hero Section */
#hero {
    background-image: url('./images/vip-entrance.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding-top: 56px;
    padding-bottom: 80px;
}

#main-content {
    background-size: cover;
    background-position: bottom;
    background-color: #332d2a;
    background-image: url('./images/cinema-audience.svg');
}

.card {
    background-image: url('./images/movie-frame.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* NOVO: Aplica os estilos de Hero em tela cheia SOMENTE quando a Hero Section está ativa */
#hero.active-section {
    min-height: calc(100vh - 56px); /* Ocupa a altura restante da viewport, descontando a navbar */
    display: flex; /* Transforma em flexbox */
    align-items: center; /* Alinha conteúdo verticalmente ao centro */
    justify-content: center; /* Alinha conteúdo horizontalmente ao centro */
}


.hero .container {
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

/* Estilo para títulos de seção */
section h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #343a40;
}

/* Estilos gerais das seções */
section {
    padding: 80px 0;
}

/* --- Regras CSS para Seções Ativas/Inativas --- */
.hidden-section {
    display: none; /* Esconde a seção por padrão */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.active-section {
    /* display: block; já definido ou flexbox conforme #hero.active-section */
    opacity: 1;
    transform: translateY(0);
}
/* --- Fim das Regras CSS --- */

#filme-favorito img,
#top-filmes .card img {
    object-fit: cover;
}

#filme-favorito img {
    height: 500px;
    width: 100%;
}

#top-filmes .card img {
    height: 75px;
}

#gamas-cinema .card img {
    height: 75px;
    width: 75px;
}

/* Estilos para as citações */
blockquote {
    border-left: 5px solid #ffc107;
    padding-left: 15px;
}

/* Estilos gerais das seções */
section {
    padding-top: 50px;
    padding-bottom: 100px;
}


/* --- Regras CSS para Seções Ativas/Inativas --- */
.hidden-section {
    display: none; /* Esconde a seção por padrão */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.active-section {
    opacity: 1;
    transform: translateY(0);
}